.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin: 20px;
  text-align: center;
}

.MuiDivider-root {
  height: 10px !important;
}
