/* .appBar {
  height: 64px;
} */

/* contact button in NavBar */
.MuiButton-root {
  font-size: 0.8rem !important;
}

/* NavBar width */
.MuiAppBar-root {
  width: 100vw !important;
}

/* shrink logo on smaller devices */

/* @media only screen and (max-width: 600px) {
  .appBar {
    height: 50px;
  }
} */
