* {
  /* margin: 0; */
  /* outline: 1px solid red; */
}

.app {
  /* background-image: url(https://i.imgur.com/5FUma9X.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: visible;
}

.MuiTypography-h6 {
  font-size: 1rem !important;
}

.MuiSvgIcon-root {
  font-size: 1rem !important;
}

.slidesContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 30px;
  /* flex-grow: 1; */
}

.MuiToolbar-regular {
  min-height: 10px !important;
}

/* scroll up button */
.MuiFab-secondary {
  color: #fff;
  background-color: #e9453f !important;
}
